@model IEnumerable<ProductViewModel>
@{
    var Categories = new SelectList(ViewData["Categories"] as IEnumerable<Category>, "Id", "Name");
    Layout = "~/Views/Shared/_INDPRO.cshtml";
}

<h1>@ViewData["Title"]</h1>

<br />

<form asp-action="Index">
    <div class="row">
        <div class="col-8">
            <input type="text" name="searchinput" id="searchinput" placeholder="Search" class="form-control mb-4" />
        </div>

        <div class="col-4">
            <input row="4" type="submit" class="btn btn-success" />
        </div>
    </div>
</form>
<br />
<br />



@if (User.IsInRole("Admin"))
{
    <a asp-controller="Home" asp-action="Create" class="btn btn-primary mb-5">Add Product</a>
}
@if (Model.Count() > 0)
{
    
  <div class="product-container">
    @foreach (var product in Model)
    {
            DateTime EndDate = product.StartDate.AddDays(product.DurationDays);
            if (!User.IsInRole("Admin"))
            {
                if (product.StartDate.Date <= DateTime.Now.Date &&
                    DateTime.Now.Date <= EndDate.Date)
                {
                    <center>
                    <div class="product-card">
                        <div class="product-image">

                            <img src="~/Files//Images/@product.ImageName" alt="@product.Name" class="img-fluid">
                        </div>
                        <div class="product-details">
                            <h2>@product.Name</h2>
                            <p><strong>Category:</strong> @product.Category.Name</p>
                            <p><strong>Price:</strong> @product.Price.ToString("c")</p>
                            <p><strong>Start Date:</strong> @product.StartDate.ToString("d")</p>
                            <p><strong>Duration:</strong> @product.DurationDays.ToString() + " days"</p>
                            <div class="product-actions">
                                <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-info">View Details</a>
                            </div>
                        </div>
                    </div>
                    </center>
                }
            }

            else
            {
                <center>
                <div class="product-card">
                    <div class="product-image">

                        <img src="~/Files//Images/@product.ImageName" alt="@product.Name" class="img-fluid">
                    </div>
                    <div class="product-details">
                        <h2>@product.Name</h2>
                        <p><strong>Category:</strong> @product.Category.Name</p>
                        <p><strong>Price:</strong> @product.Price.ToString("c")</p>
                        <p><strong>Start Date:</strong> @product.StartDate.ToString("d")</p>
                        <p><strong>Duration:</strong> @product.DurationDays.ToString() + " days"</p>
                        <div class="product-actions">
                            <a asp-action="Details" asp-route-id="@product.Id" class="btn btn-info">Details</a>
                            <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-success">Edit</a>
                            <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Delete</a>

                        </div>
                    </div>
                </div>
                </center>
            }



        }

  </div>
}

else
{
    <h1>There are not Products</h1>
}
